@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: var(--sm-font);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.general-color {
  color: var(--main-color);
}

/* CSS Variables */
:root {

  --main-color:#0d6efd;
  ;


  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
  --pink: #e5345b;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(250, 244, 244);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

a {
  text-decoration: none;
}
.info{
  border:2px solid var(--main-color);
border-radius:10px;
}